<template>
  <header>
    <div class="title">Nantes arrêts de bus</div>
  </header>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';

@Options({})
export default class Header extends Vue {}
</script>

<style scoped>
header {
  display: flex;
  justify-content: center;
  background-color: #3a3a3a;
  color: white;
  text-transform: uppercase;
  padding: 0.5rem;
}
</style>