<template>
  <div id="my-map" ref="my-map"></div>
</template>

<script>
import * as L from 'leaflet';
import * as LMarkerCluster from 'leaflet.markercluster';

import axios from 'axios';

export default {
  async mounted() {
    const stations = (await axios.get('https://data.nantesmetropole.fr/api/records/1.0/search/?dataset=244400404_tan-arrets&q=&rows=4000')).data.records;

    const map = L.map(this.$refs['my-map']).setView([47.21151388, -1.55292423], 10);

    const layer = L.tileLayer('http://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.png', {
      attribution: 'Map tiles by Stamen Design, CC BY 3.0 — Map data © OpenStreetMap',
      subdomains: 'abcd',
      minZoom: 0,
      maxZoom: 17,
      ext: 'png'
    });

    const busIcon = L.icon({
      iconUrl: require('@/assets/icon-bus-stop.png'),
      iconSize: [32, 32],
      iconAnchor: [16, 16],
      popupAnchor: [0, -20]
    });

    const tramIcon = L.icon({
      iconUrl: require('@/assets/icon-tram-stop.png'),
      iconSize: [32, 32],
      iconAnchor: [16, 16],
      popupAnchor: [0, -20]
    });

    const markersCluster = new LMarkerCluster.MarkerClusterGroup({
      iconCreateFunction: (cluster) => {
        return L.divIcon({
          html: cluster.getChildCount(),
          className: 'my-cluster',
          iconSize: null
        });
      }
    });

    stations.forEach(station => {
      const popup = `
        <div class="custom-popup">
            <div class="name">${station.fields.stop_name}</div>
            <div>${station.fields.location_type === '1' ? 'BUS' : 'TRAM'}</div>
            <div>Accès handicapés : ${station.fields.wheelchair_boarding ? 'Oui' : 'Non'}<div>
        </div>`;

      const latLng = new L.LatLng(station.fields.stop_coordinates[0], station.fields.stop_coordinates[1]);
      const marker = new L.Marker(latLng, { icon: station.fields.location_type === '1' ? busIcon : tramIcon }).bindPopup(popup);
      markersCluster.addLayer(marker);
    });

    const circuits = (await axios.get('https://data.nantesmetropole.fr/api/records/1.0/search/?dataset=244400404_tan-circuits&q=&rows=110&facet=route_long_name&facet=route_type')).data.records;


    let colMax = parseInt('FFFFFF', 16)-1000;
    let mult = parseInt(colMax/circuits.length);
    for(let a=0; a < circuits.length; a +=1){
      let circuit = circuits[a].fields.shape.coordinates.flat();
      
      circuit.forEach(coordinates=>{
        coordinates.reverse();
        
      });

      let color = (500+a*mult).toString(16);
      L.polyline(circuit, {color : '#'+color}).addTo(map);
    }

    map.addLayer(layer);
    map.addLayer(markersCluster);  
    
  }
};
</script>

<style>
.my-cluster {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #3498db;
  color: white;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  margin-top: -20px;
  margin-left: -20px;
}

.custom-popup > .name {
  font-weight: bold;
}
</style>