<template>
  <Header/>
  <OpenStreetMap id="openStreetMap"/>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import OpenStreetMap from '@/components/OpenStreetMap.vue';
import Header from '@/components/Header.vue';

@Options({
  components: { Header, OpenStreetMap }
})
export default class App extends Vue {}
</script>

<style scoped>
#openStreetMap {
  height: 100vh;
  width: 100%;
}
</style>